<!DOCTYPE html>
<html>
  <head>
    <title>AAudiofog</title>
    <meta name="description" content="AudioFog App" />
    <meta name="title" property="og:title" content="AudioFog" />
    <meta property="og:type" content="Website" />
    <meta 
      name="image" 
      property="og:image" 
      content="https://active-storage-audiofog-dev.s3.us-west-1.amazonaws.com/Splashpage.jpg" 
    />
    <meta name="description" property="og:description" content="AudioFogApp" />
    <meta name="author" content="Kevin OConnor" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('AFlogo1_vert_black.png') %>
  </head>

  <body>
    <script type='text/javascript'>
      window.audioFogLogo = "<%= image_url('AFlogo1_vert_white.png')%>"
    </script>
    <%= yield %>
  </body>
</html>
